*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {/*滚动条整体样式*/
    width: 2px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 2px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgb(0, 0, 0);
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.head{
    width: 1920px;
    height: 88px;
    /* background: pink; */
    margin: 0 auto;
}
.nav{
    position: relative;
    z-index: 99999;
}
.logo{
    position: absolute;
    margin-top: -88px;
    margin-left: 360px;
    z-index: 99999;
}
.head ul{
    width: 775px;
    height: 88px;
    /* background: pink; */
    position: absolute;
    margin-top: -92px;
    margin-left: 520px;
    z-index: 99999;
}
.head ul .color{
    color: #e69800;
}
.head ul li{
    list-style: none;
    float: left;
    line-height: 80px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 48px;
    color: white;
    z-index: 99999;
}
.head ul li:hover{
    color: #e69800;
}
.head .guanwang{
    position: absolute;
    margin-left: 1420px;
    margin-top: -70px;
    z-index: 99999;
}
.head .one{
    width: 1920px;
    height: 1080px;
    background: pink;
    position: absolute;
    margin-top: -88px;
}
.one .biglogo{
    position: absolute;
    margin-left: 614px;
    margin-top: 700px;
}
.one .bofang{
    position: absolute;
    margin-left: 900px;
    margin-top: 520px;
}








.two{
    width: 1920px;
    height: 1080px;
    margin: 995px auto 0px;
    background: pink;
}
.two .big2{
    position: absolute;
    margin-left: 700px;
    margin-top: 480px;
}
.two .zuo{
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
}
.two .shubiao{
    position: absolute;
    margin-left: 920px;
    margin-top: 900px;
}
.two p{
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 720px;
    margin-top: 690px;
    font-style: italic;
}








.three{
    width: 1920px;
    height: 1080px;
    margin: auto;
    background: pink;
}
.three .big3{
    position: absolute;
    margin-left: 700px;
    margin-top: 480px;
}
.three .zuo{
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
}
.three .shubiao{
    position: absolute;
    margin-left: 920px;
    margin-top: 900px;
}
.three p{
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 760px;
    margin-top: 705px;
    font-style: italic;
}








.four{
    width: 1920px;
    height: 1080px;
    margin: auto;
    background: pink;
}
.four ul{
    width: 1920px;
    height: 1080px;
    margin: auto;
    list-style: none;
}
.four ul li{
    float: left;
}



.four ul li .beijing1{
    width: 639px;
    height: 1080px;
    background: #e69800;
    position: relative;
}
.four ul li .yutian{
    width: 200px;
    height: 120px;
    /* background: #e69800; */
    position: absolute;
    margin-top: -700px;
    margin-left: 250px;
    /* display: none; */
    opacity: 0;
    transition: 1s;
}
.four ul li .beijing1:hover .yutian{
    /* display: block; */
    opacity: 1;
    transition: 1s;
}



.four ul li .beijing2{
    width: 639px;
    height: 1080px;
    background: #e69800;
    position: relative;
}
.four ul li .qingtian{
    width: 200px;
    height: 120px;
    /* background: #e69800; */
    position: absolute;
    margin-top: -700px;
    margin-left: 255px;
    opacity: 0;
    transition: 1s;
}
.four ul li .beijing2:hover .qingtian{
    opacity: 1;
    transition: 1s;
}



.four ul li .beijing3{
    width: 639px;
    height: 1080px;
    background: #e69800;
    position: relative;
}
.four ul li .wutian{
    width: 200px;
    height: 120px;
    /* background: #e69800; */
    position: absolute;
    margin-top: -700px;
    margin-left: 270px;
    opacity: 0;
    transition: 1s;
}
.four ul li .beijing3:hover .wutian{
    opacity: 1;
    transition: 1s;
}




.four .wenzi{
    width: 900px;
    height: 100px;
    /* background: #e69800; */
    position: absolute;
    z-index: 9999999;
    margin-left: 600px;
    margin-top: 200px;
}
.four .zuo{
    position: absolute;
    z-index: 9999999;
    margin-left: 100px;
    margin-top: 60px;
}
.four .shubiao{
    position: absolute;
    z-index: 999;
    margin-left: 280px;
    margin-top: 900px;
}







.five{
    width: 1920px;
    height: 1070px;
    margin: auto;
    background: pink;
}
.five .big3{
    position: absolute;
    margin-left: 700px;
    margin-top: 480px;
}
.five .zuo{
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
}
.five .shubiao{
    position: absolute;
    margin-left: 920px;
    margin-top: 900px;
}
.five p{
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 750px;
    margin-top: 665px;
    font-style: italic;
}





.six{
    width: 1920px;
    height: 1043px;
    margin: auto;
    background: pink;
}
.six .big3{
    position: absolute;
    margin-left: 580px;
    margin-top: 100px;
}
.six .zuo{
    position: absolute;
    margin-left: 100px;
    margin-top: 80px;
}
.six .shubiao{
    position: absolute;
    margin-left: 920px;
    margin-top: 900px;
}
.six p{
    position: absolute;
    color: white;
    font-size: 14px;
    margin-left: 840px;
    margin-top: 190px;
}



.seven{
    width: 1920px;
    height: 161px;
    background: black;
    position: relative;
    margin: auto;
}
.seven .logo{
    margin-left: 370px;
    margin-top: 30px;
    position: absolute;
}
.seven .one{
    width: 831px;
    height: 20px;
    /* background: #e69800; */
    margin-left: 700px;

}
.seven .one li{
    list-style: none;
    font-size: 12px;
    color: #676767;
    float: left;
    margin-right: 12px;
    margin-top: 25px;
}
.seven .one li:hover{
    text-decoration: underline;
}
.seven .font{
    width: 700px;
    height: 110px;
    /* background: #e69800; */
    margin-top: 25px;
    margin-left: 700px;
    position: relative;
}
.seven .font .font1{
    color: #676767;
    font-size: 12px;
    position: absolute;
}
.seven .font .font2{
    color: #676767;
    font-size: 12px;
    position: absolute;
    margin-top: 20px;
}
.seven .font .font3{
    color: #676767;
    font-size: 12px;
    position: absolute;
    margin-top: 38px;
}
.seven .font .font4{
    color: #676767;
    font-size: 12px;
    position: absolute;
    margin-top: 56px;
}